*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: rgb(247, 103, 1);
    font-size: 100px;
    position: relative;
    margin-top: 5px;
}

body{
    background-color: rgb(81, 84, 85);
}

img{
    height: 300px;
}

.infotwo{
    position: absolute;
    top: 300px;
    left: 600px;
}

span{
    color: black;
    font-size: 30px;
} 

.me{
    position: absolute;
    top: 500px;
    left: 1200px;
}

.me img{
    width: 300px;
    height: auto;
}